{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} 
{%block style %}
<link rel="stylesheet" href="{% static 'inventory/css/home.css' %}" />
{%endblock style%} {% block content %}
<body>
  <div class="container mt-3">
    <form method="post" novalidate>
      {% csrf_token %} {{ form|crispy }}
      <div class="d-grid gap-2">
        <button type="submit" class="bg-transparent mt-3">
          ADD INGREDIENT
        </button>
      </div>
    </form>
  </div>
  <body>
    {% endblock content %}
  </body>
</body>
